.modal-dialog {
  color: light-dark(#000, #ddd);
  background-color: light-dark(#fff, #333);
  border-radius: 8px;
  max-width: 90%;
  padding: 2rem;
  width: 600px;

  &::backdrop {
    background-color: light-dark(rgb(0 0 0 / 50%), rgb(255 255 255 / 50%));
  }

  .modal-form {
    width: 100%;

    .modal-header {
      h2 {
        margin-top: 0;
      }

      .modal-close-button {
        position: absolute;
        top: 0.75rem;
        right: 0.75rem;
        background: none;
        border: none;
        font-size: 2em;
        cursor: pointer;
        color: #333;
        transition: transform 0.2s;
        padding: 0;
        line-height: 1em;

        &:hover {
          transform: scale(1.4);
        }
      }
    }

    .modal-body {
      margin: 20px 0;

      .styled-input {
        border: 1px solid light-dark(#ccc, #555);
        border-radius: 4px;
        flex: 1;
        padding: 10px;
        font-size: 1em;
      }

      .button-group {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }

      .primary-button {
        background-color: light-dark(var(--hygiene-green), #007a3d);
        color: light-dark(white, white);
        border-color: light-dark(transparent, #555);
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          background-color: light-dark(#005a30, #009048);
        }
      }

      .secondary-button {
        background-color: light-dark(#f0f0f0, #444);
        color: light-dark(#333, #fff);
        border: 1px solid light-dark(#ccc, #555);
        border-radius: 4px;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          background-color: light-dark(#e0e0e0, #505050);
        }
      }
    }

    /* Add styles for the list-selection modal */
    .new-list-group {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }

    .styled-list-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;
    }

    .styled-checkbox {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
