<!DOCTYPE html>
<html lang="en">
  {{ headHtml }}
  <body>
    {{ headerHtml }}
    <div class="content-{{ classSuffix }}">
      <div class="container">
        <article class="local-authority" itemscope itemtype="https://schema.org/GovernmentOrganization">
          <h1 class="name" itemprop="name">{{ localAuthority.Name }}</h1>

          <h2>Establishments</h2>
          <form>
            <label for="filter-input">Filter:</label>
            <input type="search" id="filter-input" placeholder="type a name or address" />
          </form>
          <div class="establishments-container">
            {{ set last = establishments.length - 1 }}
            {{ for index, establishment of establishments }}
              <div class="establishment" data-establishment-id="{{ establishment.FHRSID }}">
                <h3>{{ establishment.BusinessName |> escape }}</h3>
                {{ (await address.render(establishment)).content }}
                <a href="{{ getLinkURL(establishment) }}" class="details-link">
                  More
                </a>
              </div>
              {{ if index !== last }}<hr>{{ /if }}
            {{ /for }}
          </div>
        </article>
      </div>
    </div>
    <script type="module">
      {{ processedMjs }}
    </script>
    {{ footerHtml }}
  </body>
</html>
