<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ fullTitle }}</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="canonical" href="{{ canonical }}" />
  <script>
    {{ processedJs }}
  </script>
  <style>
    {{ css }}
    {{ pageCSS }}
    {{ headerCSS }}
    {{ footerCSS }}
  </style>
</head>