html {
  color-scheme: only light;
}

@media (not (scripting: none)) or (prefers-color-scheme: dark) {
  html:not([data-color-scheme="light"]) {
    color-scheme: only dark;
  }
}

:root {
  /* Information and background colors */
  --primary-blue: #2c4c6b;
  --light-blue: #f5f7fa;
  --teal: #3c7b8e;
  --grey: #687789;
  --light-grey: #eef2f6;
  --hygiene-green-rgb: 132, 190, 0;
  --hygiene-green: rgb(var(--hygiene-green-rgb));
  --hygiene-green-highlight: color-mix(
    in oklab,
    var(--hygiene-green) 50%,
    white 50%
  );
  --hygiene-green-lowlight: color-mix(
    in oklab,
    var(--hygiene-green) 75%,
    black 25%
  );

  /* Call to action colors */
  --cta-default: #9e66ff;

  /* compoent colors */
  --body-background: light-dark(var(--light-blue), #000);
  --text-color: light-dark(#000, #ddd);
  --header-background-color: light-dark(#f8f9fa, #0d0d0d);
  --header-text-color: light-dark(#000, #9c9c9c);
  --header-rule-color: light-dark(#e0e0e0, #383838);
  --background-highlight-color: light-dark(#e5e8f1, var(--light-blue));
  --text-highlight-color: var(--text-color);
  --input-color: var(--text-color);
  --input-bg: light-dark(#fff, #444);
  --input-border: light-dark(#ccc, #555);

  /* Cards */
  --card-background: light-dark(#fff, #2d2d2d);
  --card-background-highlight: color-mix(
    in oklab,
    var(--card-background) 80%,
    white 20%
  );
  --card-background-lowlight: color-mix(
    in oklab,
    var(--card-background) 95%,
    black 5%
  );
  --card-color: light-dark(#666, #aaa);
  --card-border: 1px solid light-dark(#ddd, #444);
  --card-link-color: light-dark(#00e, #9e9eff);

  /* Shadows */
  --box-shadow: 0 2px 4px light-dark(rgb(0 0 0 / 10%), rgb(0 0 0 / 15%));
  --box-shadow-hover: 0 4px 8px light-dark(rgb(0 0 0 / 15%), rgb(0 0 0 / 25%));
  --box-shadow-border: 1px solid light-dark(#dedede, #393939);
}

[inert],
[inert] * {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  color: var(--text-color);
}

a {
  color: #0052a3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.box-shadow,
.box-shadow-hover {
  border: var(--box-shadow-border);
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
}

.box-shadow-hover:hover {
  box-shadow: var(--box-shadow-hover);
}

.input {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text-color);
  border-radius: 4px;
  font-size: 1em;
  padding: 10px;
}

[hidden]:not([hidden="until-found"]) {
  display: none !important;
}
