/* Styles for the "Add to List" button */
.list-selection-button {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: light-dark(#f2f2f2, hsl(0deg 0% 80%));
  color: #0f0f0f;
  border: none;
  padding: 3px 9px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 1.05em;

  &:hover {
    background-color: light-dark(#e5e5e5, hsl(0deg 0% 90%));
  }

  .bookmark-icon {
    width: 24px;
    height: 24px;
  }

  &.on-list .bookmark-icon .interior {
    fill: var(--hygiene-green);
  }
}
