/* Styles for the "Add to List" button */
.list-selection-button {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: #f2f2f2;
  color: #0f0f0f;
  border: none;
  padding: 3px 9px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 1.05em;
  transition: background-color 0.3s;
  position: relative;
  z-index: 1;
}

.list-selection-button .bookmark-icon {
  width: 24px;
  height: 24px;
}

.list-selection-button.on-list .bookmark-icon .interior {
  fill: var(--hygiene-green);
}

.list-selection-button:hover {
  background-color: #e5e5e5;
}

/* Dark mode support */
@media (not (scripting: none)) or (prefers-color-scheme: dark) {
  html:not([data-color-scheme="light"]) {
    .list-selection-button {
      background-color: #007a3d;
    }

    .list-selection-button.on-list {
      background-color: #005a30;
    }
  }
}
