/* Styles for the "Add to List" button */
.list-selection-button {
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: light-dark(
    var(--card-background-lowlight),
    var(--card-background-highlight)
  );
  color: var(--card-color);
  border: none;
  padding: 3px 9px;
  border-radius: 18px;
  cursor: pointer;
  font-size: 1.05em;

  .bookmark-icon {
    width: 24px;
    height: 24px;
    fill: var(--card-color);
  }

  &:hover,
  &:focus {
    color: light-dark(var(--card-color), #000);
    background-color: light-dark(
      var(--hygiene-green-highlight),
      var(--hygiene-green-lowlight)
    );

    .bookmark-icon {
      fill: light-dark(var(--card-color), #000);
    }
  }

  &.on-list .bookmark-icon .interior {
    fill: var(--hygiene-green);
  }
}
