<!DOCTYPE html>
<html lang="en">
  {{ headHtml }}
  <body>
    {{ headerHtml }}

    <div class="content-{{ classSuffix }}">
      <main class="container main-content">
        <div class="description">
          <h2>Food Hygiene Ratings UK</h2>
          <p>Feeling hungry? Check to make sure your food is as hygienic as you want it to be.</p>
          <a href="/l/" class="cta-button box-shadow-hover">Browse By Region</a>
          <a href="/search/" class="cta-button box-shadow-hover">Search</a>
        </div>
        <div class="hero-image">
          <img src="/images/mascot.svg" alt="Cute chef mascot with chef's hat">
        </div>
      </main>

      <section class="container">
        <section class="contribute">
          <h2>Open Source Project</h2>
          <p>This is an open source project that aims to make food hygiene data more accessible.</p>
          <p>Help us improve by contributing to the project:</p>
          <div>
            <a href="https://github.com/food-hygiene-uk/main-site-builder" class="cta-button box-shadow-hover">View on GitHub</a>
            <a href="https://github.com/food-hygiene-uk/main-site-builder/contribute" class="cta-button box-shadow-hover">Contribute</a>
          </div>
        </section>
      </section>
    </div>

    {{ footerHtml }}
  </body>
</html>
