name: Pull Request

on:
  pull_request:

permissions:
  contents: read

jobs:
  command-outputs:
    name: Set "outputs" from command execution
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      DENO_VERSION: ${{ steps.commands.outputs.DENO_VERSION }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .deno-version
          sparse-checkout-cone-mode: false

      - name: Commands
        id: commands
        run: |
          echo "DENO_VERSION=$(cat .deno-version)" >> "$GITHUB_OUTPUT"

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30 # Prevent hanging jobs

    needs: [command-outputs]
    env:
      DENO_VERSION: ${{ needs.command-outputs.outputs.DENO_VERSION }}

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 1

      - name: Setup Deno
        uses: denoland/setup-deno@909cc5acb0fdd60627fb858598759246509fa755 # v2.0.2
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Run Deno test
        run: deno test

      - name: Run Deno lint
        run: deno lint .

      - name: Run Deno fmt
        run: deno fmt --check .
